

.text-center{
    background-color: "#122240";
    padding: "30px";
}
.heading{

    font-size: "20px";
    color: "#c0a98e";
}
img{
    width: "250";
    height: "250px";
}

.para-one{

    font-size: "15px";
     color: "#c0a98e";
}
